Repository openml/automlbenchmark, pull requests merged in 2020-07, with the labels that each got.

#144 Version agnostic framework setup
  amlb/resources.py
  docs/HOWTO.md
  frameworks/AutoGluon/requirements.txt
  frameworks/AutoGluon/setup.sh
  frameworks/AutoWEKA/setup.sh
  frameworks/GAMA/requirements.txt
  frameworks/GAMA/setup.sh
  frameworks/H2OAutoML/setup.sh
  frameworks/RandomForest/requirements.txt
  frameworks/RandomForest/setup.sh
  frameworks/TPOT/requirements.txt
  frameworks/TPOT/setup.sh
  frameworks/TunedRandomForest/__init__.py
  frameworks/TunedRandomForest/requirements.txt
  frameworks/TunedRandomForest/setup.sh
  frameworks/autosklearn/exec.py
  frameworks/autosklearn/requirements.txt
  frameworks/autosklearn/setup.sh
  frameworks/autoxgboost/setup.sh
  frameworks/hyperoptsklearn/__init__.py
  frameworks/hyperoptsklearn/exec.py
  frameworks/hyperoptsklearn/requirements.txt
  frameworks/hyperoptsklearn/setup.sh
  frameworks/oboe/setup.sh
  resources/frameworks.yaml
Labels: enhancement, framework

#105 add mljar-supervised framework
  frameworks/mljarsupervised/__init__.py
  frameworks/mljarsupervised/exec.py
  frameworks/mljarsupervised/setup.sh
  resources/frameworks.yaml
Labels: framework add

#152 fix matplotlib config to run with basic python on macOS
  frameworks/mljarsupervised/exec.py
Labels: framework
