Repository openml/automlbenchmark, pull requests merged in 2021-04, with the labels that each got.

#276 Add the possibility to declare a framework as abstract
  amlb/frameworks/definitions.py
  amlb/resources.py
  resources/frameworks.yaml
  resources/frameworks_2020Q2.yaml
  resources/frameworks_latest.yaml
  resources/frameworks_stable.yaml
  tests/unit/amlb/frameworks/definitions/resources/frameworks_inheritance.yaml
  tests/unit/amlb/frameworks/definitions/test_load_framework_definitions.py
  tests/unit/amlb/resources/test_framework_definition.py
Labels: enhancement

#270 add FLAML to automl benchmark
  docs/automl_overview.md
  frameworks/flaml/__init__.py
  frameworks/flaml/exec.py
  frameworks/flaml/setup.sh
  resources/frameworks.yaml
Labels: framework add

#263 add mlnet.cli to automl benchmark
  frameworks/MLNet/__init__.py
  frameworks/MLNet/exec.py
  frameworks/MLNet/setup.sh
  resources/frameworks.yaml
Labels: framework add

#203 Mlr3automl integration
  docs/automl_overview.md
  frameworks/mlr3automl/__init__.py
  frameworks/mlr3automl/exec.R
  frameworks/mlr3automl/exec.py
  frameworks/mlr3automl/requirements.txt
  frameworks/mlr3automl/setup.sh
  resources/frameworks.yaml
Labels: framework add

#272 Improve config: doc + group entries by functionality
  .travis.yml
  amlb/benchmark.py
  amlb/job.py
  amlb/resources.py
  amlb/results.py
  amlb/runners/aws.py
  amlb/runners/container.py
  amlb/runners/docker.py
  amlb/runners/singularity.py
  amlb/utils/config.py
  amlb/utils/core.py
  docs/README.md
  resources/config.yaml
Labels: enhancement

#240 Update gama
  frameworks/GAMA/exec.py
  frameworks/GAMA/requirements.txt
Labels: framework
