Repository openml/automlbenchmark, pull requests merged in 2021-03, with the labels that each got.

#237 Update autogluon to v0.1 API
  frameworks/AutoGluon/exec.py
  frameworks/AutoGluon/requirements.txt
  frameworks/AutoGluon/setup.sh
Labels: framework

#259 Job Runner v2
  .travis.yml
  amlb/benchmark.py
  amlb/job.py
  amlb/results.py
  amlb/runners/aws.py
  amlb/utils/core.py
  amlb/utils/process.py
  concat_csv.py
  pytest.ini
  tests/unit/amlb/job/dummy.py
  tests/unit/amlb/job/test_MultiThreadingJobRunner.py
  tests/unit/amlb/job/test_SimpleJobRunner.py
  tests/unit/amlb/utils/process/test_InterruptTimeout.py
Labels: aws, bug, enhancement

#273 Add failures entry on missing result
  amlb/results.py
  amlb/runners/aws.py
  amlb/utils/core.py
Labels: aws, enhancement
