Repository openml/automlbenchmark, pull requests merged in 2024-11, with the labels that each got.

#630 Add SapientML to automl benchmark
  docs/website/frameworks.html
  frameworks/SapientML/__init__.py
  frameworks/SapientML/exec.py
  frameworks/SapientML/setup.sh
  resources/frameworks.yaml
Labels: framework add

#654 Add pre-commit hook with ruff
  .pre-commit-config.yaml
  requirements-dev.txt
Labels: automation

#655 Add code coverage to CI
  .github/workflows/run_all_frameworks.yml
  .github/workflows/run_pytest.yaml
  pyproject.toml
  requirements-dev.txt
Labels: automation

#656 Add test that runs benchmark locally
  amlb/results.py
  amlb/runners/aws.py
  tests/__init__.py
  tests/conftest.py
  tests/unit/amlb/benchmarks/test_benchmark.py
Labels: tests
